body,html, #root{
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    overflow-x:hidden;
}
.body{
    size:cover;
background-color: black;
    color:white;
    justify-items:center;
    text-align: center;
}
html{
    height:100%;
}
body{
    min-height: 100%;
}
.first-view{
    height: 100vh;
}