.studies-container{
    display: flex;
    flex-direction: column;
    gap: 5%;
    text-align: center;
    justify-content: center;
    margin: 2%;
}
.studies-container span{
    justify-content: center;
}