.item{
    background-color: #eeebeb;
    color:black;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 165px;
    display : flex;
    flex-direction: column;
    
}
span{
    font-weight: bold;
}
/*.d-grid{
    width:600px;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2,100px) ;
    grid-auto-flow: column;
}*/
.d-grid{
    display:flex;
    gap:10px;
    padding:10px;
}
@media only screen and (max-width:1075px) {
    .d-grid{
        
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
