.hide-icon{
    position: relative;
}
.icon-shadow{
    color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
    position: absolute;
    top: 0;  
    left: 0;  
    filter: blur(2px);  
    z-index: -1;
}

.icon-container{
    position:relative;
    display: inline-block;
}